.tabContent{
    display: none;
}

.tabLinks{
    background-color: hsl(0, 40%, 96%);
    padding: 20px 30px;
    border: 0.5px solid black;
    cursor: pointer;
}
.tabLinks:hover{
    background-color:hwb(0 82% 16%) ;
}
.tabLinks.active{
    background-color:hwb(0 82% 16%) ;
}

.tabContent.active{
    display: block;
}